body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/codeblauw_a_realistic_photo_of_a_strong_door_in_an_office_--v_7_9c510439-dd58-4b7f-b285-dff317ac2e6d 1.jpg");
  /* background: 
    linear-gradient(rgba(24, 31, 48, 0.75), rgba(24, 31, 48, 0.75)),
    url("../assets/codeblauw_a_realistic_photo_of_a_strong_door_in_an_office_--v_7_9c510439-dd58-4b7f-b285-dff317ac2e6d 1.jpg"); */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-family: "Inter", sans-serif;
  position: relative;
  min-height: 100vh;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(24, 31, 48, 0.75), rgba(24, 31, 48, 0.75));
    z-index: -1;
  }

  .h1 {
    font-size: 38px;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
    color: #f4f6fa;
    font-weight: 700;
    @media (min-width: 768px) {
      font-size: 50px;
    }
  }

  .h3 {
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
    color: #f4f6fa;
  }

  p {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0px;
    text-align: center;
    color: #f4f6fa;
    font-weight: 400;
    font-style: normal;
  }

  .content-container {
    margin-top: 5rem;
  }

  .contact-container {
    position: relative;
    background-color: #f6f7b899;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 30px;
    margin-top: 100px;
    border-radius: 10px;

    .contact-info {
      background-color: #343512;
      display: flex;
      align-items: center;
      padding: 13px 14px;
      border-radius: 10px;
      gap: 13px;
      cursor: pointer;
      transition: transform 0.2s ease;
      &:hover {
        transform: scale(1.1);
      }

      & a {
        color: #f6f7b8;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 170%;
        letter-spacing: 0px;
        /* border-bottom: 1px solid transparent; Invisible border
        transition: border-color 0.3s ease; Smooth transition

        &:hover {
          text-decoration: underline;
          border-bottom-color: #f6f7b8;
        } */
      }
    }

    .avatar-img {
      position: absolute;
      top: -56px;
      width: 95px;
      height: 95px;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }

    .regular {
      font-size: 16px;
      line-height: 180%;
      letter-spacing: 0px;
      text-align: center;
      font-weight: 400;
      color: #343512;
    }

    .semi-regular {
      font-size: 16px;
      font-style: normal;
      line-height: 170%;
      letter-spacing: 0px;
      text-align: center;
      font-weight: 600;
      color: #343512;
    }

    &.icon {
      width: 17.4;
      height: 15.9;
      opacity: 1;
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .footer-text {
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0px;
    text-align: center;
    color: #f4f6fa;
    font-weight: 400;
    font-style: normal;
    padding: 1rem 0rem 3rem 0rem;
    opacity: 0.75;
  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-container {
    border-radius: 10px;
    background: rgba(27, 28, 38, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px 45px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    & a,
    div {
      color: #c8cad7;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
      text-decoration: none;
    }
  }

  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .under-line {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}
